@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Rokkitt:wght@700&display=swap');

:root{
    --menu-color: rgb(105, 16, 16);
    --menu-tcolor: white;
    --bg-color:white;
    
    --sbar-width: 30vw;

    --h1-size:calc(100vw/25);
    --h2-size:calc(50vw/25);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Roboto, Rokkit, "arial";
    transition: 1s;
}


.sidebar{
    background-color: var(--menu-color);
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: var(--sbar-width);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s-image{
    border-radius: 100% 20% 100% 100%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: -5px 5px 20px black;
    width: 60%;   
    aspect-ratio:1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}

.sidebar a{
    color: var(--menu-tcolor);
    text-decoration: none;
    width: 80%;
    text-align: center;
    border-bottom: 1px solid var(--menu-tcolor);
    border-top: 1px solid var(--menu-tcolor);


    font-size: 25px;
    font-weight: 700;
    line-height: 200%;

    opacity: .3;
}

.sidebar a:hover {
    opacity: .7;
}

.sidebar .active {
    opacity: 1;
    filter:drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.3));
}

.sbar-mobile{
    position: absolute;
     text-align: center;
    top: 20px;
    right: 10px;
    width: 80px;
    border: 1px solid black;
    border-radius: 10%;
    cursor: pointer;
    display: none;
}

body{
    margin-right: var(--sbar-width);
    background-color: var(--bg-color);
    height: 100vh;
    padding: 0 50px;
}

.sec{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid var(--menu-color);
}

h1{
    font-size: var(--h1-size);
    font-weight: 700;
    line-height: 180%;
    border-bottom: 1px solid var(--menu-color);
}

h2{
    font-size: var(--h2-size);
    font-weight: 400;
    line-height: 200%;
}

.so-redes a svg{
    margin-right: 20px;
}

.so-redes a:hover svg{
    scale: 1.1;
    opacity: .8;
}

@media only screen and (max-width: 750px) {
    :root{
        --sbar-width: 0;

        --h1-size:calc(100vw/12);
        --h2-size:calc(50vw/12);
    }

    .on{
        width: 100vw;
    }

    .sbar-mobile{
        display: block;
    }
  }